# Backend (Spring Boot)
backend/target/
backend/*.jar
backend/*.log

# Frontend (React)
frontend/node_modules/
frontend/build/

# Common
.env
.vscode/
.idea/
*.class
frontend/node_modules/
backend/target/
*.exe
*.exe
